﻿@model IEnumerable<JobEntity.Models.Job>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Job", null,Context.Request.Scheme)','New Job')" class="btn btn-success"><i class="far fa-plus-square"></i>Job</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiresAt)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Job", new {id= item.JobId },Context.Request.Scheme)','Update Job')" class="btn btn-info"><i class="fa fa-pencil-alt"></i>Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.JobId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger"  />
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
